.friendList {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.friendList li {
  margin: 0;
  flex: 0 1 auto;
}

.friendList li:last-child {
  margin-bottom: 0;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  gap: 10px;
}
