.transactionTable {
  width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
}

.transactionTable thead {
  background-color: #2d2d2d;
  color: white;
}

.transactionTable th,
.transactionTable td {
  padding: 12px;
  border: 2px solid rgb(32, 28, 28);
}

.altRow {
  background-color: grey;
}
